<h1 class="todo-heading">To Do</h1>

<form class="todo-input-form" action="/add" method="post">
    <input class="todo-input" type="text" name="title" placeholder="Enter new todo..." required/>
    <input class="todo-input" type="date" name="dueDate"/>
    <button class="todo-button" type="submit">Add</button>
</form>

