<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>TODO App</title>

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        
        <%- include('partials/header') %>

        <ul>
            <% todos.forEach(todo => { %>
                <li>
                    <%= todo.title %>
                    <a href="/delete/<%= todo._id %>">Delete</a>
                </li>
            <% }) %>
        </ul>

        <%- include('partials/footer') %>

    </body>
</html>